@font-face {
	font-family: Forum;
	font-display: swap;
	src: url("../fonts/Forum-Regular.woff2") format("woff2"), url("../fonts/Forum-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: futurapt;
	font-display: swap;
	src: url("../fonts/futurapt-book.woff2") format("woff2"), url("../fonts/futurapt-book.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: futurapt;
	font-display: swap;
	src: url("../fonts/futurapt-medium.woff2") format("woff2"), url("../fonts/futurapt-medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: futurapt;
	font-display: swap;
	src: url("../fonts/futurapt-light.woff2") format("woff2"), url("../fonts/futurapt-light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: futurapt;
	font-display: swap;
	src: url("../fonts/futurapt-demibold.woff2") format("woff2"), url("../fonts/futurapt-demibold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SegoeUI;
	font-display: swap;
	src: url("../fonts/SegoeUI-light-italic.woff2") format("woff2"), url("../fonts/SegoeUI-light-italic.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: SegoeUI;
	font-display: swap;
	src: url("../fonts/SegoeUI-italic.woff2") format("woff2"), url("../fonts/SegoeUI-italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
